body {
    margin: 0;
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

//* IMPORTS
@import './Search.scss';
@import './Header.scss';
@import './auth/ValidateForms.scss';
@import './auth/Signup.scss';
@import './App.scss';
@import './Home.scss';